<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--  sqlserver账户名  -->
    <!--<property name="connection.username">sa</property>

    &lt;!&ndash;  sqlserver密码  &ndash;&gt;
    <property name="connection.password">123456</property>

    &lt;!&ndash;  sqlserver驱动  &ndash;&gt;
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>

    &lt;!&ndash;  mysql连接URL  &ndash;&gt;
    <property name="connection.url">jdbc:sqlserver://localhost\MSSQLSERVER:1433;databaseName=Test;characterEncoding=UTF-8</property>
-->
    <!--  数据库方言  -->
    <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

    <!--  显示sql语句  -->
    <property name="show_sql">true</property>

    <!--  格式化sql语句  -->
    <property name="format_sql">true</property>

    <!--根据需要自动生成、更新数据表-->
    <property name="hbm2ddl.auto">update</property>


    <!-- 开启二级缓存 -->
    <property name="hibernate.cache.use_second_level_cache">true</property>
    <!-- 二级缓存的提供类 在hibernate4.0版本以后我们都是配置这个属性来指定二级缓存的提供类-->
    <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
    <!-- 二级缓存配置文件的位置 -->
    <property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>
    <!-- 开启查询缓存 -->
    <property name="hibernate.cache.use_query_cache">true</property>


    <mapping resource="Student.hbm.xml"/>
    <mapping resource="Classes.hbm.xml"/>

    <!--<mapping resource="Person2.hbm.xml"/>-->

    <mapping resource="com.ctco.bean/Dog.hbm.xml"/>

    <mapping resource="com/ctco/springEx/hibernate/Animal.hbm.xml"/>

  </session-factory>
</hibernate-configuration>